.night-vision-effect {
  $line-width: 5px;
  max-width: 350px;

  background-image: 
  url("/images/gif/se_has_intro.gif"), 
  radial-gradient(circle at center, var(--primary) 0%, #085f88 60%, rgb(0 0 0 / 13%) 100%), 
  repeating-linear-gradient(rgba(87, 86, 86, 0) 0px, rgba(0, 0, 0, 0.116) 2px, rgba(0, 0, 0, 0) 4px);

  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

[class$=-effect] img {
	vertical-align: top !important;
	margin: 0 !important;
	opacity: 0 !important;
}