<div class="container-wrap">
  <div class="intro">
    <div class="image-left animation-fade-in-left">
      <app-profile-photo imageSrc="images/has-small.png" alt="Se Has"></app-profile-photo>
    </div>
    <div class="greeting animation-fade-in-right">
      <h2>Hi, I'm Se Has</h2>
      <p class="primary-color">Frontend Developer & System Architect</p>
      <p class="description">
        I'm a Web Fronted Developer with 5+ years of enterprise experience in
        Angular, TypeScript, and modern frontend architecture. Specialized in
        high-performance applications, building scalable, optimizing complex
        systems, and delivering exceptional user experiences.
      </p>
    </div>
  </div>
  <div class="section2">
    <div class="ex-section animation-fade-in-left">
      <app-experiences></app-experiences>
    </div>
    <div class="approach-section animation-fade-in-right">
      <app-promise-tabs></app-promise-tabs>
    </div>
  </div>
  <div class="skills">
    <app-skills></app-skills>
  </div>
</div>
