<div class="container-wrap">
    <div class="intro">
        <div class="image-left animation-fade-in-left">
            <app-feature-image></app-feature-image>
        </div>
        <div class="greeting animation-fade-in-right">
            <p class="primary-color">Driving Next-Gen Business Efficiency Through Smart Automation </p>
            <h2>Building Scalable Web Experiences</h2>
            <p class="description">I build scalable Angular applications focused on performance, maintainability, and exceptional user experiences. Specialized in enterprise systems, modern architecture, and frontend optimization.</p>
        </div>
    </div>
    <div class="service animation-fade-in-bottom">
        <h3>What I Do?</h3>
        <p class="description">
            Transform complex business requirements into scalable, maintainable, and high-performing web applications using modern frontend technologies.
        </p>
        <div class="service-list">
            @for (s of solutionList; track s.id; let i = $index) {
                <div class="card">
                    <div class="card-top">
                        <div class="card-number">{{i < 9 ? "0" + (i+1): i+1}}</div>
                        <div class="card-icon">&lt;/&gt;</div>
                    </div>
                    <h4 class="card-title">{{s.title}}</h4>
                    <p class="description">{{s.description}}</p>
                </div>
            }
        </div>
    </div>
</div>