<div class="container-wrap">
    <div class="intro">
    <div class="image-left animation-fade-in-left">
        <img src="images/image-cover.png" alt="" srcset="">
    </div>
    <div class="greeting animation-fade-in-right">
        <h3>Building Scalable Web Experiences</h3>
        <p class="primary-color">Frontend Developer & System Architect</p>
        <p>Web Fronted Developer with 5+ years of enterprise experience in Angular, TypeScript, and modern frontend architecture. Specialized in high-performance applications, building scalable, optimizing complex systems, and delivering exceptional user experiences.</p>
    </div>
</div>
<div class="service">
    <div class="title">
    </div>
    <h6>Comprehensive frontend solutions tailored to enterprise needs</h6>
    <div class="service-list">
        @for (s of solutions; track s.id; let i = $index) {
            <div class="card">
                <div class="card-top">
                    <div class="card-number">{{i < 9 ? "0" + (i+1): i+1}}</div>
                    <div class="card-icon">&lt;/&gt;</div>
                </div>
                <div class="card-title">{{s.title}}</div>
                <p class="service-description">{{s.description}}</p>
            </div>
        }
    </div>
</div>
</div>