<header class="navbar">
    <div class="container">

        <a href="#" class="logo">
            <span>&lt;/&gt;</span> HasDev
        </a>

        <input type="checkbox" id="menu-toggle">

        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="nav-links">
            <a (click)="alert('o')" routerLink="" routerLinkActive="active">Home</a>
            <a (click)="alert('ok')" routerLink="about" routerLinkActive="active">About</a>
            <a href="#">Skills</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>

            <a href="#" class="btn">Hire Me</a>
        </nav>

    </div>
</header>