<footer class="footer">

    <div class="footer-container">

        <!-- About -->
        <div class="footer-section">
            <h2 class="footer-logo">
                Dev<span>Has</span>
            </h2>

            <p class="description">
                Frontend Developer passionate about creating modern,
                responsive, and user-friendly web applications with
                Angular, TypeScript, and modern web technologies.
            </p>
        </div>
        <div class="image">
            <img class="img" src="images/has.png" alt="" srcset="" />

        </div>

        <!-- Contact -->
        <div class="footer-section">
            <h3>Contact</h3>
            @for (c of contactList; track c.id) {
                <a [href]="c.url">
                    <i [class]="c.icon"></i>
                    {{c.value}}
                </a>

            }
        </div>

        <!-- Quick Links -->
        <div class="footer-section">
            <h3>Quick Links</h3>

            @for (m of menu; track m.id) {
                <a [routerLink]="m.url" routerLinkActive="active">{{m.name}}</a>
            }
        </div>

    </div>

    <!-- Social -->
    <div class="social-links">
        @for (s of socialList; track s.id) {
            <a [href]="s.url" target="_blank" rel="noopener noreferrer">
                <i [class]="s.icon"></i>
            </a>
        }

    </div>

    <div class="footer-bottom">
        © 2026 DevHas. All Rights Reserved.
    </div>

</footer>