<footer class="footer">

    <div class="footer-container">

        <!-- About -->
        <div class="footer-section">
            <h2 class="footer-logo">
                Dev<span>Has</span>
            </h2>

            <p class="description">
                Frontend Developer passionate about creating modern,
                responsive, and user-friendly web applications with
                Angular, TypeScript, and modern web technologies.
            </p>
        </div>
        <div class="image">
            <img class="img" src="images/has.png" alt="" srcset="" />

        </div>

        <!-- Contact -->
        <div class="footer-section">
            <h3>Contact</h3>

            <a [href]="'mailto:' + email">
                <i class="fa-solid fa-envelope"></i>
                {{email}}
            </a>

            <a [href]="'tel:' + phone">
                <i class="fa-solid fa-phone"></i>
                {{phone}}
            </a>

            <a [href]="locationLink" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                {{location}}
            </a>
        </div>

        <!-- Quick Links -->
        <div class="footer-section">
            <h3>Quick Links</h3>

            @for (m of menu; track m.id) {
                <a [routerLink]="m.url" routerLinkActive="active">{{m.name}}</a>
            }
        </div>

    </div>

    <!-- Social -->
    <div class="social-links">

        <a href="#">
            <i class="fab fa-github"></i>
        </a>

        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="#">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="#">
            <i class="fab fa-x-twitter"></i>
        </a>

    </div>

    <div class="footer-bottom">
        © 2026 DevHas. All Rights Reserved.
    </div>

</footer>