<footer class="footer">

    <div class="footer-container">

        <!-- About -->
        <div class="footer-section">
            <h2 class="footer-logo">
                &lt;/&gt; HasDev
            </h2>

            <p>
                Frontend Developer passionate about creating modern,
                responsive, and user-friendly web applications with
                Angular, TypeScript, and modern web technologies.
            </p>
        </div>

        <!-- Contact -->
        <div class="footer-section">
            <h3>Contact</h3>

            <a href="mailto:your@email.com">
                <i class="fa-solid fa-envelope"></i>
                youremail.com
            </a>

            <a href="tel:+85512345678">
                <i class="fa-solid fa-phone"></i>
                +855 12 345 678
            </a>

            <a href="#">
                <i class="fa-solid fa-location-dot"></i>
                Phnom Penh, Cambodia
            </a>
        </div>

        <!-- Quick Links -->
        <div class="footer-section">
            <h3>Quick Links</h3>

            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>

    </div>

    <!-- Social -->
    <div class="social-links">

        <a href="#">
            <i class="fab fa-github"></i>
        </a>

        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="#">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="#">
            <i class="fab fa-x-twitter"></i>
        </a>

    </div>

    <div class="footer-bottom">
        © 2026 HasDev. All Rights Reserved.
    </div>

</footer>