/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
  font-family: 'inter', sans-serif;
  background: #0f172a;
  color: #fff;
  font-weight: 400; /* វានឹងយក font Regular មកបង្ហាញ */
}

h1 {
  font-weight: 700; /* វានឹងយក font Bold មកបង្ហាញដោយស្វ័យប្រវត្ត */
}
a{
    text-decoration:none;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
