<header class="navbar">
    <div class="container">

        <a href="#" class="logo">
            <span>&lt;/&gt;</span> HasDev
        </a>

        <input type="checkbox" id="menu-toggle">

        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="nav-links">
            <a  routerLink="/home" routerLinkActive="active">Home</a>
            <a  routerLink="/about" routerLinkActive="active">About</a>
            <a  routerLink="/skill" routerLinkActive="active">Skills</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>

            <a href="#" class="btn">Hire Me</a>
        </nav>

    </div>
</header>